*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navar-brand{
    font-size: 2rem;
    color: black;
    font-family: 'Lobster',cursive;
    text-decoration: none;
}
.navar-brand:hover{
    color: black;
}
.nav-link{
    margin-right: 10px;
    margin-left: 10px;
    color: black;
    font-family: 'Rubik','sans-serif';
    text-transform: uppercase;
}
.nav-link:hover{
    color: black;
}
.search{
    height: 40px;
    width: 80%;
    border-radius: 60px;
    outline: none;
    margin-right: -35px;
    font-family: 'Rubik','sans-serif';
    border: 2px solid rgb(248, 26, 92);
}
.btn0{
    height: 40px;
    width: 40%;
    border: none;
    outline: none;
    background:  rgb(248, 26, 92);
    color: rgb(255, 255, 255);
    border-radius: 60px;
    font-weight: 70px;
}
/* Anh bia trang */
.main{
    /* background: url(/images/Mercedes-Benz1.jpg);
    background: url(/images/showroom-oto.jpg); */
    padding: 2rem;
}
/* Slide */
.slider-wrapper{
    position: relative;
    max-width: 200rem;
    margin:0 auto;
}
.slider{
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem ;
    width: 100%;
}
.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}
.slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}


.slider-nav a{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}
.slider-nav a:hover{
    opacity: 1;
}
.main h1{
    font-size: 4rem;
    font-weight: 700;
    color: white;
}
.btn1{
    height: 45px;
    width: 35%;
    border: none;
    outline: none;
    background-color: rgb(248, 26, 92);
    color: white;
    font-weight: 700;
    border-radius: 60px;
}
h1{
    font-weight: 700;
}
.btn1:hover{
    background-color: rgb(227, 69, 69);
    transition: 0.5s;
}
.card:hover{
    box-shadow: -4px -5px 39px -1px rgba(0,0,0,0.6);
    -webkit-box-shadow: -4px -5px 39px -1px rgba(0,0,0,0.6);
    -moz-box-shadow: -4px -5px 39px -1px rgba(0,0,0,0.6);
    transition: 0.5s;
}
.apple{
    background:url(/images/Mercedes-Benz1.jpg) no-repeat;
    
    background-size: cover;
    height:120vh;
    width: 100%;
}
.apple h1{
    font-family: 'Lobster',cursive;

}
.icon-flex{
    display: flex;
    flex-direction: row;
    
}
.news{
    background-color: black;
    color: white;
}
.news::placeholder{
    color: white;
}
.news p{
    margin: 0;
}
.icon-container{
    display: flex;
    flex-direction: row;
}
.slide__body .container .container_slide{
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 30px 0;
}
.slide__body .container .container_slide .slides{
    width: 100%;
    display: flex;
}
.slide__body .container .container_slide .slides .item{
    min-width: 100%;
}
.slide__body .container .container_slide .slides .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slide__body .container .container_slide .next,.prev{
    position: absolute;
    top: 50%;
    padding: 10px 15px;
    background: #000;
    color: #fff;
    transform: translateY(-50%);
    cursor: pointer;
}
.slide__body .container .container_slide .next:hover,.prev:hover{
    background: saddlebrown;
}
.slide__body .container .container_slide .next{
    right: 0;
}

